
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
#content {
    margin : 50px;
    width: auto;
    border : 3px solid rgba(0,69,91,1);
    border-radius : 15px;
    background-color : #6ec6da;
}

li {
    font-size: 150%;
    color: black;
    font-weight: bold;
    display: list-item;
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin : 50px;
    font-size : 200%;
    align-content : center;
    color: rgba(0,107,141,1);
    font-family: Arial, Helvetica, sans-serif;
}

