
html, body {
    height: 100%;
    width: 100%;
    margin: 0% auto;
    font-family: Calibri;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Pour la première partie de la page*/

#haut {
    height: 75%;
    background: url("../images/fond.jpg") fixed no-repeat center;
    background-size: cover;
}


.imgTexte {
    text-align: center;
    color: rgba(0,69,91,1);
    padding-top: 1%;
}
.imgTexte h1 {
    font-size: 450%;
    text-shadow:   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 2px #141414,
    1px 1px 3px #141414,
    1px 1px 5px #141414,
    1px 1px 7px #141414,
    1px 1px 10px #141414,
    1px 1px 12px #141414,
    1px 1px 18px #141414;color:#fff;
}

.imgTexte h4 {
    font-size: 350%;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 2px #141414,
    1px 1px 3px #141414,
    1px 1px 5px #141414,
    1px 1px 7px #141414,
    1px 1px 10px #141414,
    1px 1px 12px #141414,
    1px 1px 18px #141414;
    color: #fff;

}
.suite a{
    text-decoration: none;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 2px #141414,
    1px 1px 3px #141414,
    1px 1px 5px #141414,
    1px 1px 7px #141414,
    1px 1px 10px #141414,
    1px 1px 12px #141414,
    1px 1px 18px #141414;
    color: rgba(0,69,91,1);    font-size: 200%;
}



/* Pour la présentation des test psycho */

#presentation {
    height: 50%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.guillemet_g {
    margin-left: 1%;
}
.guillemet_d {
    align-self: flex-end;
}

.text {
    text-align: center;
    align-self: center;
    font-family: open_sansregular, sans-serif;
    font-size: larger;
}

.voiture {
    width: 30%;
    margin-left: 10%;
    margin-right: 5%;
    align-self: center;
}


/* Pour la partie Description des Tests*/

.inter {
    background-color: whitesmoke;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;

}

.inter h1 {
    color: rgba(0,69,91,1);
}
.fonction {
    background-color: whitesmoke;
    height: 600px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fonction img {
    height: 200px;
}
.thermometre {
    align-items: center;
}
.reflexe{

}

