
html, body {
    height: 100%;
    width: 100%;
    margin: 0% auto;
    font-family: Calibri;
    scroll-behavior: smooth;
}


/*Pour la première partie de la page*/

#haut {
    height: 70%;
    background: url("../images/fond.jpg") fixed no-repeat center;
    background-size: cover;
}


.imgTexte {
    text-align: center;
    color: rgba(0,69,91,1);
    padding-top: 5%;
}
.imgTexte h1 {
    font-size: 400%;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.imgTexte h4 {
    font-size: 200%;
    text-shadow: #ffffff 0.5px 0.5px, #ffffff -0.5px 0.5px, #ffffff -0.5px -0.5px, #ffffff 0.5px -0.5px;
}
.suite {

}
.suite a{
    text-decoration: none;

}

a:visited {
    color: darkblue;
}


/* Pour la partie Description des Tests*/

.inter {
    background-color: whitesmoke;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;

}

.inter h1 {
    color: rgba(0,69,91,1);
}
.fonction {
    background-color: whitesmoke;
    height: 600px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fonction img {
    height: 200px;
}
.thermometre {
    align-items: center;
}
.reflexe{

}


.suite {
    text-shadow: #ffffff 0.3px 0.3px, #ffffff -0.3px 0.3px, #ffffff -0.3px -0.3px, #ffffff 0.3px -0.3px;
}
