#content {
    margin: 50px;
    width: auto;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #6ec6da;
}

h1 {
    margin: 50px;
    font-size: 200%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,69,91,1);
}
