/*------------HEADER------------------*/
body {
    margin: 0% auto;
}
header {
    width: 100%;
    height: 25%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,107,141,1) 0%, rgba(0,69,91,1) 90% );
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#logo:nth-child(1) {
    align-self: center;
    margin-top: 1%;
}

.title {
    align-self: center;
    width: auto;

}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1%;
    width: 100%;
}
.linkmenu {
    padding-right: 30px;
    padding-left: 30px;
    border-right: 3px white inset;

}
.linkmenu:nth-child(3) {
    border: none;
}

a.linkmenu {
    color: white;
    text-decoration: none;
    font-family: verdana;
    font-size: large;
}
a.linkmenu:visited {
     color: white;
 }
a.linkmenu:hover {
    color: lightblue;
}


