
body {
    margin: 0% auto;
}
#menu {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
}
#menu ul {
    padding:0;
    margin:0;
    list-style: none;
    text-align: center;
}
#menu li {
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
    border-radius: 6px;
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #4b6cb7;
}
#menu li li {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #182848;
    box-shadow: none;
    border:none;
    margin:0;
}
#menu a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2em;
}
#menu ul li a, #menu li:hover li a {
    font-size:1em;
}
#menu li:hover {
    background-image: linear-gradient(to right, #ADD8E6 0%, #4b6cb7 51%, #ADD8E6 100%);
}
#menu li li:hover {
    background: #4b6cb7;
}
#menu ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu li:hover li {
    max-height: 15em;
}

#content{
    margin: 30px 10px 30px 10px;
}

#profil
{
    border: none;
    width: 25%;
    /*margin-left: 70%;*/
    padding: 0px 20px 20px 20px;
    background-color: #2abdac;
    float: right;
}

.profil-titre
{
    text-align: center;
}

.profil-colonnes
{
    width: 100%;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profil-texte
{
    border: 0px solid yellow;
    padding-left: 10%;
    box-sizing: border-box;

    /*TEXTE*/
    text-align: right;
}

.profil-photo
{
    border: 0px solid red;
    width: 58%;
    padding-left: 20%;
    align-self: center;

    box-sizing: border-box;
}