@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
body {
    margin: 30%;
    color: #0e171c;
    font: 300 100%/1.5em 'Lato', sans-serif;

}

#content {
    /*margin : 2% 2% 2% 2%;*/
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40%;
}


/*---------- Menu ----------*/


#menu {
    flex-shrink: 3;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 15%;
    text-align: center;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;

}


#menu a {
    background-color: rgba(0,69,91,1);
    color: white;
    display: block;
    padding: 8%;
    text-decoration: none;
    border-left: 2px solid #6ec6da;
    border-right: 2px solid #6ec6da;
}

#menu a:last-child {
    border-bottom: 2px solid #6ec6da;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#menu a:hover {
    background-color: #6ec6da;
}

#menu a.active {
    background-color: rgba(0,107,141,1);
    color: white;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #6ec6da;
}

#menu a.active:hover {
    background-color: rgba(0,107,141,1);
}

#main {
    flex-grow: 1;
    margin: 1% 1% 1% 1%;
    width: 150%;
    border: 1px solid orange;

}


/*---------- Profil ----------*/

#profil
{
    flex-shrink: 1;
    border: 2px solid rgba(0,107,141,1);
    border-radius: 20px;
    width: 30%;
    padding: 1% 1% 1% 1%;
    margin: 2% 1% 0 10%;
    background-color:#6ec6da;
    float: right;
}

.profil-titre
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.profil-colonnes
{
    width: 100%;
    border: 0px solid floralwhite;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

>>>>>>> master
.profil-texte
{
    border: none;
    padding-left: 2%;
    box-sizing: border-box;

    /*TEXTE*/
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.profil-photo
{
    border: none;
    width: 58%;
    padding-left: 20%;
    align-self: center;
    box-sizing: border-box;
}

/* ---------- CALENDAR ---------- */
.calendar a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    margin: 0.25em 6em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: .33em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.content2 {
    height: auto;
    left: 50%;
    margin: -255px 0 0 -245px;
    position: absolute;
    top: 110%;
    width: 500px;

}
.calendar {
    text-align: center;
}

.calendar header {
    position: relative;
    background: transparent;
}

.calendar h2 {
    text-transform: uppercase;
    text-align: center;

}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    border: 2px solid #00addf;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #00addf;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #00addf;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}


