/* Le menu "A venir" sort du cadre quand réduction de la page*/

/*------------HEADER------------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    border: 2px solid black;
}

#logo {
    border-right: 1px solid black;
    padding: 5px 5px 2px 5px;
}

.title {
    flex: 2;

    border-right: 0px solid black;
    margin: auto;
    padding-left: 50px;
    padding-right: 10px;

    text-align: left;
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkmenu {
    display: flex;
    align-items: center;

    border-left: 1px solid black;
    padding: 0px 20px 0px 20px;

    background-color: lightgray;
}
a.linkmenu {
        color: black;
        text-decoration: none;
        font-family: verdana;
        font-size: large;
}
.linkmenu:hover {
    background-color: lightblue;
}

/*------------CONTENT------------------*/

.content {
    border: 2px solid black;
    padding: 0px 70px 50px 30px;
}

h1 {
    border: 0px solid black;
    margin: 20px 0px 50px 100px;
    /*padding: 2px 2px 2px 2px;*/

    font-family: monospace, sans-serif;
}
h2 {
    font-family: monospace, sans-serif;
    font-weight: normal;
    font-size: 23px;

}
h3, p {
    font-family: verdana, sans-serif;
    font-weight: normal;
    font-size: large;

}

a {
    font-family: monospace, sans-serif;
}

/*-------------FOOTER-----------------*/

#credits {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid black;
    padding-left: 5px;
    margin: auto;
    height: 70px;

    text-align: left;
    font-family: 'Roboto';
    font-size: 1.05em;

}

footer{
    display : flex;
    justify-content : space-around;
    background-color: lightblue;
    align-items: center;
}