/* Le menu "A venir" sort du cadre quand réduction de la page*/

/*------------HEADER------------------*/
body {
    margin: 0px auto;
}

header {
    margin: 0px auto;
    width: 100%;
    background-color: rgb(211,228,232);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#logo:nth-child(1) {
    /*border-right: 2px solid black;*/
    align-self: center;
}

.title {
    flex: 2;
    margin-right: 500px;
    align-self: center;
    /*border-right: 2px solid black;
    margin: auto;
    padding-left: 50px;
    padding-right: 10px;

    text-align: left;
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;*/
}

.menu {
    padding: 250px 50px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkmenu {
    display: flex;
    align-items:flex-end;

    border-right: 0px solid black;
    padding: 0px 10px 0px 10px;
}
.linkmenu_separator {
    padding-right: 50px;
}
a.linkmenu {
        color: black;
        text-decoration: none;
        font-family: verdana;
        font-size: large;
}
a.linkmenu:hover {
    color: #1259c3;
}

/*------------CONTENT------------------*/

.content {
    border: 2px solid black;
    padding: 0px 70px 50px 30px;
}

h1 {
    border: 0px solid black;
    margin: 20px 0px 50px 100px;
    /*padding: 2px 2px 2px 2px;*/

    font-family: monospace, sans-serif;
}
h2 {
    font-family: monospace, sans-serif;
    font-weight: normal;
    font-size: 23px;

}
h3, p {
    font-family: verdana, sans-serif;
    font-weight: normal;
    font-size: large;

}

a {
    font-family: monospace, sans-serif;
}

/*-------------FOOTER-----------------*/

#credits {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 2px solid black;
    padding-left: 5px;
    margin: auto;
    height: 70px;

    text-align: left;
    font-family: 'Roboto';
    font-size: 1.05em;

}
