/*------------HEADER------------------*/
body {
    margin: 0px auto;
}

header {
    margin: 0px auto;
    width: 100%;
    height: max-content;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#logo:nth-child(1) {
    align-self: center;
}

.title {
    flex: 2;
    margin-right: 500px;
    align-self: center;
}

.menu {
    padding: 250px 50px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkmenu {
    display: flex;
    align-items:flex-end;

    border-right: 0px solid black;
    padding: 0px 10px 0px 10px;
}
.linkmenu_separator {
    padding-right: 50px;
}
a.linkmenu {
        color: black;
        text-decoration: none;
        font-family: verdana;
        font-size: large;
}
a.linkmenu:hover {
    color: #1259c3;
}
