#content {
    margin: 50px;
    width: auto;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #6ec6da;
}

h1 {
    margin: 50px;
    font-size: 200%;
    align-content: center;
    color: rgba(0,69,91,1);
}

li {
    font-size: 150%;
    color: black;
    font-weight: bold;
    display: list-item;
    list-style-type: none;
    text-align: center;
}

.saveButton {
    border: none;
    padding: 1% 1%;
    border-radius: 8px;
    background-color: rgba(0,69,91,1);
    font: bold 130% open_sansregular;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    opacity: 0.6;
    margin: 0 auto;
}

.saveButton:hover {
        opacity: 1;
    }

hr {
    border-top: 3px solid black;
    width: 40%;
}

#content input, #supprProfil input {
    width: 30%;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-family: open_sansregular ;
}
