/*
    COULEURS :

#FCA9AA : Rose clair
#A36D6E : Rose foncé
#7e5455 : Rose foncé
B07676
#6ec6da : Cyan
#00455B : Bleu foncé
rgba(0,107,141,1) : Bleu foncé
*/

/*
    #content1
    {
        border: 2px solid orange;
        margin: 30px 10px 30px 100px;
        display: flex;
        justify-content: space-between;
        /*text-align: right;*\
    }

    #users
    {
        border: 2px solid blue;
        width: 25%;
        /*margin-left: 70%;*\
        padding: 0px 20px 20px 20px;
        background-color: rgb(252, 169, 170);
        /*float: right;*\
    }

    #profil-admin
    {
        border: 2px solid blue;
        width: 25%;
        /*margin-left: 70%;*\
        padding: 0px 20px 20px 20px;
        background-color: rgb(252, 169, 170);
        /*float: right;*\
    }

    .profil-admin-titre,
    .users-titre
    {
        text-align: center;
    }

    .profil-admin-colonnes,
    .users-colonnes
    {
        width: 100%;
        border: 0px solid black;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .profil-admin-texte,
    .users-texte
    {
        border: 0px solid yellow;
        padding-left: 10%;
        box-sizing: border-box;

        /*TEXTE*\
        text-align: right;
    }

    .profil-admin-photo
    {
        border: 0px solid red;
        width: 58%;
        padding-left: 20%;
        align-self: center;

        box-sizing: border-box;
    }

*/
/*----*/

#conteneur1 {
    margin : 2% 2% 2% 2%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#main {
    width: 80%;
}

/*
#################################
##########  Menu  ###############
#################################
*/
#menu {
    flex-grow: 1;
    border-collapse: collapse;
    width: 40%;
    text-align: center;

}
#menu a {
    background-color: rgba(0,69,91,1);/*#7e5455;/*Rose foncé*/
    color: white;
    display: block;
    padding: 8%;
    text-decoration: none;
    border-left: 2px solid #6ec6da; /*#FCA9AA;/*Rose clair*/
    border-right: 2px solid #6ec6da; /*#FCA9AA;/*Rose clair*/
}
#menu a:first-child, #menu a:first-child:hover {
    background-color: rgba(0,107,141,1);/*#B07676;/*Rose foncé*/
    color: white;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #6ec6da;/*#FCA9AA;/*Rose clair*/
}
#menu a:last-child {
    border-bottom: 2px solid #6ec6da;/*#FCA9AA;/*Rose clair*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu a:hover, #menu .button_utilisateurs:hover, #menu .button_capteurs:hover {
    background-color: #6ec6da;/*#FCA9AA;/*Rose clair*/
}
/*
#menu .button_utilisateurs, #menu .button_capteurs {
    display: block;
    width: 100%;
    padding: 8%;

    background-color: rgba(0,69,91,1);/*#7e5455;/*Rose foncé*/
  /*  border-left: 2px solid #6ec6da; /*#FCA9AA;/*Rose clair*/
 /*   border-right: 2px solid #6ec6da; /*#FCA9AA;/*Rose clair*/
  /*  border-top-width: 0px;
    border-bottom-width: 0px;

    text-decoration: none;
    color: white;
    font-size: 16px;
}


/*
#################################
#########  Profil  ##############
#################################
*/
#profil {
    flex-grow: 1;
    border: 2px solid rgba(0,107,141,1);/*#7e5455;/*Rose foncé*/
    border-radius: 20px;
    width: 70%;
    padding: 1% 1% 1% 1%;
    background-color: #6ec6da;/*#FCA9AA; /*Rose clair*/
    float: right;
}
.profil-titre {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.profil-colonnes {
    width: 100%;
    border: 0px solid floralwhite;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.profil-texte {
    border: 0px solid black;
    width: 100%;
    padding-left: 0%;
    box-sizing: border-box;

    /*TEXTE*/
    text-align: right;
}
.profil-editer {
    border: 0px solid floralwhite;
    display: inline-block;
}
.profil-editer .profil-editer_hover {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        z-index: 99;
}
.profil-editer:hover .profil-editer_no_hover {
        display: none;
}
.profil-editer:hover .profil-editer_hover {
    display: inline;
    /*background-color: rgb(0,69,91);/*#FCA9AA;/*Rose clair*/
}
.profil-photo {
    border: 0px solid floralwhite;
    width: 58%;
    padding-left: 10%;
    align-self: center;
    box-sizing: border-box;
}



/*
#################################
#########  Tableau  #############
#################################
*/
#tableau {
    display: block;
}

table
{
    border-collapse: collapse;
    margin: 2% auto 0% auto;
}

caption {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: rgb(0,94,124);
    color: white;
}

tr:hover {background-color: #ddd;}

.tableaux h3 {
    margin-left: 30%;
}
.tableaux input {
    text-align: center;
    font-family: open_sansregular;
    font-size: 102%;
}
.editer {
    text-align: right;
    margin: 1% 5% 3% 0%;
}

.tableaux a{
    color: #005f7a;
}

.tableaux a:visited {
    text-decoration: none;
    color: #005f7a;
}